.aboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    margin-bottom: 70px;
}

.aboutContainer .title{
    font-size: 2rem;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

.aboutContainer .description{
    font-size: 1.5rem;
    width: 80%;
    text-align: center;
}

@media(max-width: 910px){
    .aboutContainer{
        margin-top: 60px;
    }
}
