.aboutContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin-top: 10px;
    margin-bottom: 70px;
}

.aboutContainer .title{
    font-size: 2.5rem;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    padding: 30px;
}

.aboutContainer .description{
    font-size: 1.5rem;
    max-width: 30%;
    text-align: center;
}

@media(max-width: 910px){
    .aboutContainer{
        margin-top: 60px;
    }
}
