.experienceContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    margin-bottom: 100px;
}

.experienceContainer .title{
    font-size: 2.5rem;
    font-weight: bold;
    padding: 15px;
    justify-content: center;
    text-align: center;
}

.cards{
    display: grid;
    grid-template-columns: 1fr;
    gap: 5px;
    padding: 10px;
}

.cards .card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    outline: 2.5px solid #d3d3d3;
    border-radius: 10px;
    transition: 0.5s ease-in-out;
    margin: 0.5em;
}

/* border animation */
.cards .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px #1d4ed8;
}

.cards .card img{
    width: 200px;
    height: auto;
    object-fit: cover;
    padding: 20px;
}

.cards .card .material h3{
    font-size: 2rem;
    font-weight: normal;
    padding: 10px;
}

.cards .card .material ul{
    list-style-type: disc;
    padding: 10px;
}

.cards .card .material ul li{
    font-size: 1.3rem;
    padding: 10px;
}

.cards .card .material ul li::marker{
    font-size: 1.5rem;
}