.experienceContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    margin-bottom: 70px;
}

.experienceContainer .title{
    font-size: 2.5rem;
    font-weight: bold;
    padding: 15px;
    justify-content: center;
    text-align: center;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.cards{
    flex: 0;
    max-width: 60%;
}

.cards .card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    outline: 2.5px solid #d3d3d3;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    margin: 0.5em;
    overflow: scroll;
}

/* border animation */
.cards .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px #1d4ed8;
}

.cards .card img{
    width: 150px;
    height: auto;
    object-fit: cover;
    padding: 20px;
}

.cards .card .material{
    padding: 10px;
}

.cards .card .material h3{
    font-size: 1.5rem;
    font-weight: normal;
    padding: 10px;
}

.cards .card .material ul{
    margin: 0;
    list-style-type: disc;
    padding-left: 5px;
}

.cards .card .material ul li{
    font-size: 1.2rem;
    padding: 5px;
}

.cards .card .material ul li::marker{
    font-size: 1.5rem;
}

/* @media(max-width: 1280px){
    .cards{
        width: 85%;
    }
} */