.experienceContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    margin-bottom: 70px;
}

.experienceContainer .title{
    font-size: 2.5rem;
    font-weight: bold;
    padding: 15px;
    justify-content: center;
    text-align: center;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}



.cards .card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    outline: 2.5px solid #d3d3d3;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    margin: 0.5em;
    overflow: scroll;
}



/* border animation */
.cards .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 20px #1d4ed8;
}

.cards .card img{

    width: 70px;
    height: auto;
    object-fit: cover;
}


.cards .card .header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 10px;
}
.cards .card .header p{
    padding-top: 0px;
    margin-left: 10px;
    
}
.cards .card .header h3{
    font-size: 2rem;
    font-weight: normal;
    padding: 10px;
}

.cards .card .material{
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.cards .card .material ul{
    margin: 0;
    list-style-type: disc;
    padding-left: 50px;
}

.cards .card .material ul li{
    font-size: 1.5rem;
    padding: 5px;
}

.cards .card .material ul li::marker{
    font-size: 1.5rem;
}

