nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
}

nav .title{
    font-size: 2.5rem;
    margin: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none; 
}

nav ul li a{
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #fff;
    padding: 0.5rem;
    margin: 0 1rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
}

nav ul li a::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.25s ease-out;
}
nav ul li a:hover::before{
    width: 70%;
}

nav ul li a::after{
    content: "";
    position: absolute;

}

