.active{
    border-bottom: 0.5px solid #fff;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;
}

nav .title{
    font-size: 2.5rem;
    margin: 2rem;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none; 
}

nav ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    margin: 0 1rem;
    font-size: 1.5rem;
    border-radius: 0.5rem;
}

nav ul li a:hover{
    color: #1d4ed8;
}