.active{
    color: #1d4ed8;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
}

nav .title{
    font-size: 1.5rem;
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
    color: #fff;
}

nav ul{
    display: flex;
    padding: 1rem;
}

nav ul li{
    list-style: none; 
}

nav ul li a{
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #fff;
    padding: 0.25rem;
    margin: 0 1rem;
    font-size: 1.2rem;
    border-radius: 0.5rem;
}

nav ul li a:not(.active):before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #1d4ed8;
    transition: width 0.25s ease-out;
}
nav ul li a:not(.active):hover::before{
    width: 70%;
}

nav ul li a::after{
    content: "";
    position: absolute;

}

nav .menu{
    display: none;
    position: absolute;
    top: calc();
    right: 1.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2rem;
    height: 2rem;
}

nav .menu span{
    height: 0.5rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.2rem;
}

@media(max-width: 910px){
    nav .menu{
        display: flex;
        top: 28px;
    }
    nav{
        flex-direction: column;
        align-items: start;
    }
    nav ul{
        display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.25rem;
    }
    nav ul.open{
        display: flex;
    }
    nav ul li{
        width: 100%;
        text-align: center;
    }

    nav ul li a{
        margin: 0.2rem 0.5rem;
    }
}



