*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.projectContainer{
    max-width: 65%;
    margin: 0 auto;
    padding: 50px;
}

.projectContainer .title{
    font-size: 2.5rem;
    font-weight: bold;
    padding: 15px;
    margin-bottom: 15px;
    justify-content: center;
    text-align: center;
}

.projectContainer .projectGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 35px;
}

.projectContainer .projectGrid .card{
    outline: 2.5px solid #d3d3d3;
    border-radius: 10px;
    overflow: hidden;
}

.projectContainer .projectGrid .card img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}

.projectContainer .projectGrid .card .card-content{
    padding: 15px;
    background: white;

}

.projectContainer .projectGrid .card .card-content h2{
    font-size: 1.5rem;
    text-align: center;
    padding: 10px;
}

.projectContainer .projectGrid .card .card-content p{
    font-size: 1.2rem;
}

