*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.projectContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    margin-bottom: 70px;
}

.projectContainer .title{
    font-size: 2.5rem;
    font-weight: bold;
    padding: 15px;
    justify-content: center;
    text-align: center;
}

.projectContainer .projectGrid{
    max-width: 60%;
    display: flex;
    justify-content: center;
    padding: 15px;
    column-gap: 40px;
}

.projectContainer .projectGrid .card{
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    outline: 2.5px solid #d3d3d3;
    border-radius: 10px;
    overflow: hidden;
}

.projectContainer .projectGrid .card img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card .material{
    padding: 10px;
}

.material h2{
    position: relative;
    font-weight: normal;
    margin: 10px 0 15px;
    text-align: center;
    font-size: 1.5rem;
}

.material .description{
    margin: 10px 0 auto;
    text-align: left;
}

.material .skills{
    margin: 10px 0 auto;
}