.skillsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0;
    margin-bottom: 100px;
    /* background-color: #e8e7e4; */
}

.skillsContainer .title{
    font-size: 2.5rem;
    font-weight: bold;
    padding: 15px;
    justify-content: center;
    text-align: center;
}

.skillsContainer .skillGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;
    padding: 25px;
    justify-content: center;
}

.skillsContainer .skillGrid .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 90px;
    outline: 2.5px solid #d3d3d3;
    border-radius: 10px;
    text-align: center;
    transition: 0.2s ease-in-out;
}

.skillsContainer .skillGrid .card:hover{
    transform: translateY(-10px);
    border: 3px solid #1d4ed8;
}


.skillsContainer .skillGrid .card img{
    width: 120px;
    height: auto;
}

.skillsContainer .skillGrid .card h3{
    margin-top: 10px;
    font-weight: bold;
}

@media(max-width: 1100px){
    .skillsContainer .skillGrid .card{
        padding: 60px;
        gap: 35px;
    }
}
@media(max-width: 980px){
    .skillsContainer .skillGrid{
        grid-template-columns: repeat(3, 1fr);
        column-gap: 75px;
    }
    .skillsContainer .skillGrid .card{
        padding: 75px;
        gap: 25px;
    }
}
@media(max-width: 890px){
    .skillsContainer .skillGrid{
        grid-template-columns: repeat(3, 1fr);
        column-gap: 55px;
    }
    .skillsContainer .skillGrid .card{
        padding: 55px;
        gap: 15px;
    }
}
@media(max-width: 750px){
    .skillsContainer .skillGrid{
        grid-template-columns: repeat(2, 1fr);
    }
    .skillsContainer .skillGrid .card{
        padding: 110px;
        gap: 25px;
    }
}