.skillsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0;
    margin-bottom: 100px;
    /* background-color: #e8e7e4; */
}

.skillsContainer .title{
    font-size: 2.5rem;
    font-weight: bold;
    padding: 15px;
    justify-content: center;
    text-align: center;
}

.skillsContainer .skillGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 15px;
}

.skillsContainer .skillGrid .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 65px;
    outline: 2.5px solid #d3d3d3;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.skillsContainer .skillGrid .card:hover{
    transform: translateY(-10px);
    border: 3px solid #1d4ed8;
}


.skillsContainer .skillGrid .card img{
    width: 90px;
    height: auto;
}

.skillsContainer .skillGrid .card h3{
    padding: 15px;
    font-weight: bold;
}

@media(max-width: 1280px){
    .skillsContainer .skillGrid{
        grid-template-columns: repeat(3, 1fr);
        width: 85%;
    }
}
@media(max-width: 1000px){
    .skillsContainer .skillGrid{
        grid-template-columns: repeat(2, 1fr);
        width: 85%;
    }
}

