.skillsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0;
    margin-bottom: 100px;
    /* background-color: #e8e7e4; */
}

.skillsContainer .title{
    font-size: 2.5rem;
    font-weight: bold;
    padding: 15px;
    justify-content: center;
    text-align: center;
}

.skillsContainer .skillGrid{
    display: grid;
    max-width: 60%;
    grid-template-columns: 
    repeat(auto-fill, minmax(220px, 2fr));
    gap: 35px;
    padding: 15px;
    justify-content: center;
}

.skillsContainer .skillGrid .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 75px;
    outline: 2.5px solid #d3d3d3;
    border-radius: 10px;
    text-align: center;
    transition: 0.2s ease-in-out;
}

.skillsContainer .skillGrid .card:hover{
    transform: translateY(-10px);
    border: 3px solid #1d4ed8;
}


.skillsContainer .skillGrid .card img{
    width: 90px;
    height: auto;
}

.skillsContainer .skillGrid .card h3{
    margin-top: 10px;
    font-weight: bold;
}

/* @media(max-width: 1700px){
    .skillsContainer .skillGrid{
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }
    .skillsContainer .skillGrid .card{
        padding: 60px;
    }
}
@media(max-width: 1640px){
    .skillsContainer .skillGrid{
        grid-template-columns: repeat(4, 1fr);
        gap: 25px;
    }
    .skillsContainer .skillGrid .card{
        padding: 55px;
    }
}
@media(max-width: 1600px){
    .skillsContainer .skillGrid{
        grid-template-columns: repeat(3, 1fr);
        gap: 35px;
    }
    .skillsContainer .skillGrid .card{
        padding: 75px;
    }
} */
